<!DOCTYPE html>
<html>
    <head>
        <title>Email</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet"  href="{{url_for('static', filename='css/main.css')}}"/>
    </head>
<body>
    <h1>메일 제목 긁어오기</h1>
    <ul class = "mail-naver">
        {% for value in data1 %}
        <li><img src="{{ url_for('static', filename='image/naver.png') }}" style="width:15px; height:15px;"> {{ value }} </li>
        {% endfor %}
    </ul>
    <ul class = "mail-naver">
        {% for value in data0 %}
        <li><img src="{{ url_for('static', filename='image/kakao.png') }}" style="width:15px; height:15px;"> {{ value }} </li>
        {% endfor %}
    </ul>
</body>
</html>
