<!DOCTYPE html>
<html>
    <head>
        <title>Email</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet"  href="{{url_for('static', filename='css/main.css')}}"/>
    </head>
<body>
    <img id = "logo" src = "{{ url_for('static', filename='image/logo.png') }}">
    <div class = "mails">
        <div class = "naver">
            <button type="button" class="button_naver" style="font-size: 15pt;">NAVER</button> 
            <span class = "connected_id">&nbsp;연결된 계정 : {{ data2 }}</span>
            <ul class = "mail-naver">
                {% for value in data1 %}
                <div class = "mail-info"><img src="{{ url_for('static', filename='image/naver.png') }}" style="width:15px; height:15px;"> {{ value }} </div>
                {% endfor %}
            </ul>
        </div>
        <br>
        <br>
        <div class = "google">
            <button type="button" class="button_google" style="font-size: 15pt;">GOOGLE</button>
            <span class = "connected_id">&nbsp;연결된 계정 : {{ data4 }}</span>
            <ul class = "mail-google">
                {% for value in data3 %}
                <div class = "mail-info"><img src="{{ url_for('static', filename='image/google.png') }}" style="width:15px; height:15px;"> {{ value }} </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>

