<!DOCTYPE html>
<html>
    <head>
        <title>Email</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet"  href="{{url_for('static', filename='css/main.css')}}"/>
    </head>
<body>
    <a name="up"></a>
    <img id = "logo" src = "{{ url_for('static', filename='image/logo.png') }}">
    <div class = "info" style = "text-align: center;"> 
        <script>
            document.write(array[0] + " | ");
            document.write(array[1] + " | ");
            document.write(array[2]);
        </script>
    </div>
    <div class = "mails">
        <div class = "naver">
            <button type="button" class="button_naver" style="font-size: 15pt;" onclick="clickNaver()">NAVER</button> 
            <span class = "connected_id">&nbsp;연결된 계정 : {{ data2 }}</span>
            <ul class = "mail-naver">
                {% for i in range (9, -1, -1) %}
                <div class = "mail-info"><p><img src="{{ url_for('static', filename='image/naver.png') }}" style="width:15px; height:15px;"> <span class = "mail-sender">{{ data1[i]['sender'] }}</span> : {{ data1[i]['subject'] }} </p> </div>
                {% endfor %}
            </ul>
        </div>
        <div class = "google">
            <button type="button" class="button_google" style="font-size: 15pt;" onclick="clickGoogle()">GOOGLE</button>
            <span class = "connected_id">&nbsp;연결된 계정 : {{ data4 }}</span>
            <ul class = "mail-google">
                {% for i in range (10) %}
                <div class = "mail-info"><p><img src="{{ url_for('static', filename='image/google.png') }}" style="width:15px; height:15px;"> <span class = "mail-sender">{{ data3[i]['sender'] }}</span> : {{ data3[i]['subject'] }} </p> </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class = "mails2">
        <div class = "kakao">
            <button type="button" class="button_kakao" style="font-size: 15pt;" onclick="clickKakao()">KAKAO</button> 
            <span class = "connected_id">&nbsp;연결된 계정 : {{ data6 }}</span>
            <ul class = "mail-kakao">
                {% for i in range (10) %}
                <div class = "mail-info"><p><img src="{{ url_for('static', filename='image/kakao.png') }}" style="width:15px; height:15px;"> <span class = "mail-sender">{{ data5[9-i]['sender'] }}</span> : {{ data5[9-i]['subject'] }} </p> </div>
                {% endfor %}
            </ul>
        </div>
        <a name="down"></a>
        <div class = "daum">
            <button type="button" class="button_daum" style="font-size: 15pt;" onclick="clickDaum()">DAUM</button>
            <span class = "connected_id">&nbsp;연결된 계정 : {{ data8 }}</span>
            <ul class = "mail-daum">
                {% for i in range (10) %}
                <div class = "mail-info"><p><img src="{{ url_for('static', filename='image/daum.png') }}" style="width:15px; height:15px;"> <span class = "mail-sender">{{ data7[9-i]['sender'] }}</span> : {{ data7[9-i]['subject'] }} </p> </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br>
    <div class="float">
        <a href="#up"><img src="{{ url_for('static', filename='image/down.png') }}" style="width:60px; height:30px; transform:scaleY(-1);"></a>
        <a href="#down"><img src="{{ url_for('static', filename='image/down.png') }}" style="width:60px; height:30px;"></a>
        <br>
        <a onclick="location.href='about.html'"><img src="{{ url_for('static', filename='image/home.png') }}" style="width:40px; height:40px;"></a>
    </div>
</body>
</html>
